body {
  background: #263238;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.8em;
  color: #E0E0E0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "RobotoDraft", "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1em;
  color: #ffffff;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a, a:hover, a:visited {
  color: #00acc1;
  text-decoration: none;
}

.navbar-inverse {
  background-color: #263238;
}

.navbar-inverse .navbar-brand {
  color: #f2f2f2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #f2f2f2;
}

.navbar-inverse .form-control::-moz-placeholder {
  color: #f2f2f2;
  opacity: 1;
}
.navbar-inverse .form-control:-ms-input-placeholder {
  color: #f2f2f2;
}
.navbar-inverse .form-control::-webkit-input-placeholder {
  color: #f2f2f2;
}
.navbar-inverse .form-control[type=text],
.navbar-inverse .form-control[type=password] {
  -webkit-box-shadow: inset 0 -1px 0 #f2f2f2;
  box-shadow: inset 0 -1px 0 #f2f2f2;
}
.navbar-inverse .form-control[type=text]:focus,
.navbar-inverse .form-control[type=password]:focus {
  -webkit-box-shadow: inset 0 -2px 0 #ffffff;
  box-shadow: inset 0 -2px 0 #ffffff;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #00BCD4;
  box-shadow: inset 0 -2px 0 #00BCD4;
}

code {
  background-color: #455A64;
  color: #ECEFF1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  border-radius: 0;
}

pre {
  background-color: #37474F;
  padding: 2em;
  color: #e3e2e0;
  border: transparent;
  border-radius: 0;
}

pre code {
  font-family: "Roboto Mono", monospace;
}

pre .pln {
  color: #e3e2e0;
}

pre .str {
  color: #3bc7b8;
}

pre .kwd {
  color: #FF4E50;
}

pre .com {
  color: #777777;
}

pre .typ {
  color: #3bc7b8;
}

pre .lit {
  color: #c3cb4c;
}

pre .pun,
pre .opn,
pre .clo {
  color: #e3e2e0;
}

pre .tag {
  color: #FF4E50;
}

pre .atn {
  color: #3bc7b8;
}

pre .atv {
  color: #c3cb4c;
}

pre .dec,
pre .var {
  color: #3bc7b8;
}

pre .fun {
  color: #FF4E50;
}

blockquote {
  border-left-color: #37474F;
}

hr {
  border-color: #37474f;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #37474f;
}

.table-bordered {
  border-color: #37474f;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border-color: #37474f;
}

.table>thead>tr>th {
  border-color: #37474f;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  padding: 15px;
}

#sidebar-wrapper .sidebar-brand {
  border-bottom: 1px solid #546e7a;
  display: block;
  height: 64px;
  padding: 12px 0 11px 24px;
  pasition: relative;
}

#sidebar-wrapper ul {
  list-style-type: none;
}

#sidebar-wrapper ul li {
  margin-left: -15px;
}

#sidebar-wrapper ul li a {
  color: #E0E0E0;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-wrapper {
        position: relative;
    }

    #page-wrapper .page-content {
      padding: 20px;
      padding-left: 15%;
      padding-right: 15%;
    }

    #page-wrapper .page-header {
      margin-top: 0;
      margin-bottom: 0;
      background: #00BCD4;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 100px;
      border: transparent;
      height: 200px;
    }

    #page-wrapper .page-header h1 {
      margin-top: 0;
      font-size: 3em;
    }

    #page-wrapper .page-content {
      margin-top: 40px;
    }

    #wrapper.toggled #page-wrapper {
        position: relative;
        margin-right: 0;
    }
}